<div class="container-lg">
  <div class="row d-none d-sm-flex py-2 py-lg-3 py-xl-4">
        <div class="col">
            <h2 class="text-center">Pathfinding Visualizer</h2>
        </div>
  </div>

  <div class="row pb-2">
      <div class="col">
        <button 
        class="btn btn-primary col" 
        (click)="nodeMapComponent.isAlgorithmOperating ? sendAlgorithmStop() : sendAlgorithmStart()"
        >
          {{ nodeMapComponent.isAlgorithmOperating ? "Stop Algorithm" : "Start Algorithm" }}
        </button>
      </div>
    
      <div class="col">
        <button 
        type="button" 
        [ngClass]="{
          'btn btn-primary' : true,
          'active' : nodeMapComponent.isInstaOn
        }" 
        (click)="sendInstaToggle()"
        data-toggle="button" 
        [ariaPressed]="nodeMapComponent.isInstaOn"
        autocomplete="off"
        >
          Instant Visualization
        </button>
      </div>
    
      <div class="col">
        <button class="btn btn-primary" (click)="sendClearMap()">Clear Map</button>
      </div>
    
      <div class="col">
        <label for="delayRange" class="form-label">Delay</label>
        <input
          class="form-range"
          (change)="sendDelayChange($event)"
          type="range"
          value="60"
          min="20"
          max="100"
          id="delayRange"
        />
      </div>
    
      <div class="col">
        <label for="algorithmSelect">Select an Algorithm</label>
        <select
          class="form-select-sm"
          (change)="sendAlgorithmChange($event)"
          id="algorithmSelect"
          [disabled]="nodeMapComponent.isAlgorithmOperating"
        >
          <option value="dijkstra" selected>Dijkstra</option>
          <option value="a-star">A*</option>
          <option value="depth-first-search">Depth First Search</option>
        </select>
      </div>
  </div>

  <div class="row gx-0 gy-1  mx-5 d-none d-sm-flex py-1 user-select-none">
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--blank-node-bg);"></span>
        <span class="px-1">Blank</span>
      </div>
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--blocked-node-bg)"></span>
        <span class="px-1">Blocked</span>
      </div>
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--visited-node-bg)"></span>
        <span class="px-1">Visited</span>
      </div>
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--prospected-node-bg)"></span>
        <span class="px-1">Prospected</span>
      </div>
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--start-node-bg)"></span>
        <span class="px-1">Start</span>
      </div>
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--end-node-bg)"></span>
        <span class="px-1">End</span>
      </div>
      <div class="col-3 col-md d-flex justify-content-center align-items-center">
        <span ngClass="legend-item" style="background-color: var(--path-node-bg)"></span>
        <span class="px-1">Path</span>
      </div>
  </div>
</div>