<h2>Pathfinding Visualizer</h2>

<div ngClass="controller-interface">
    <button (click)="sendCompleteCycle()">Instant Visualization</button>
    <button (click)="algorithmButtonFunction()">{{ algorithmButtonText }}</button>
    <button (click)="sendClearMap()">Clear Map</button>
    Delay<input (change)="sendDelayChange($event)" type="range" value={{algorithmDelay}} min="20" max="100" />
    Algorithm<select (change)="sendAlgorithmChange($event)">
        <option value="dijkstra" selected>Dijkstra</option>
        <option value="a-star">A*</option>
        <option value="depth-first-search">Depth First Search</option>
    </select>
      
</div>

<ul ngClass="legend-list">
    <li>
        <div ngClass="legend-item"></div>
        Blank Node
    </li>
    <li>
        <div ngClass="legend-item" style="background-color: #444444;"></div>
        Blocked Node
    </li>
    <li>
        <div ngClass="legend-item" style="background-color: yellow;"></div>
        Visited Node
    </li>
    <li>
        <div ngClass="legend-item" style="background-color: #75FF57;"></div>
        Prospected Node
    </li>
    <li>
        <div ngClass="legend-item" style="background-color: blue;"></div>
        Start Node
    </li>
    <li>
        <div ngClass="legend-item" style="background-color: red;"></div>
        End Node
    </li>
    <li>
        <div ngClass="legend-item" style="background-color: orange"></div>
        Path
    </li>
</ul>