<hr>
<h3> {{ message }}</h3>
<div [ngClass]="{
    'node-map': true,
    'disabled-animations' : !isAnimated
}"
[style.--map-width]="mapWidth"
[style.--map-height]="mapHeight">
    <app-node *ngFor="let node of nodeMap"
    [node]="node"
    [ngClass]="{
        'node': true, 
        'blocked' : node.isBlocked,
        'path-node' : nodePath.includes(node),
        'prospected' : node.isProspected,
        'visited' : node.isVisited,
        'start-node' : node == startingNode,
        'end-node' : node == endingNode
    }"
    (nodeClickEvent)="receiveClickedNode($event)"
    (nodeMoveEvent)="receiveMovedNode($event)">
    
    </app-node>
</div>